!!!
%html
  %head
    %title JosipaistjepanVjencanje
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    = csrf_meta_tags
  %body
    .container
      .content
        .row.text-center
          %h1 Josipa i Stjepan - VjenÄanje :D
        = yield
